@import "modules/all_app";
@import "partials/header_app";
@import "partials/base_app";
@import "partials/section__main_app";

.section__background-img {
  flex: 1 0 80%;
  height: 100%;
  background-image: url('../images/image.png');
  position: relative;

 &-new__recipes {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-family: 'Open Sans', sans-serif;
  width: 87%;
  //width: 1060px;
  height: 91%;
  //height: 620px;
  padding: 25px;
  box-sizing: border-box;
  background-color: $background-color;
  border: 1px dashed black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $navSide-color;
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: $navSide-color;
  }
  &__recipe {
    width: 100%;
    box-sizing: border-box;
    &-header{
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid $tabRowsText-color;
      h2 {
      color: $highlights-color;
      }
      &-button {
        box-sizing: border-box;
        align-self: flex-start;
        background-color: $highlights-color;
        border: none;
        color: $whiteFont-color;
        font-size: 16px;
        padding: 4px 10px;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
    }
    form {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0;
      label {
        font-size: 24px;
        margin: 0 15px 0 5px;
      }
      input {
        width: 720px;
        line-height: 30px;
        font-size: 14px;
        margin-bottom: 15px;
      }
      textarea {
        resize: none;
        width: 720px;
        height: 72px;
        margin-left: 23px;
      }
    }
  }
  &__method {
    box-sizing: border-box;
    flex: 0 0 48%;
    height: 66%;
    //align-self: flex-end;
    display: flex;
    flex-direction: column;
    h2 {
      font-weight: 100;
      border-bottom: 2px solid $tabRowsText-color;
    }
    &-form {
      margin: 10px 5px 10px 10px;
      display: flex;
      justify-content: space-between;
      textarea {
        resize: none;
        width: 93%;
        height: 76px;
      }
      i {
        color: $successMessage-color;
        font-size: 28px;
        cursor: pointer;
      }
    }

    ol {
      box-sizing: border-box;
      width: 100%;
      padding-left: 30px;
      overflow-y: scroll;
      flex-grow: 1;
    }
    li {

    }
  }
  &__ingredients {
    box-sizing: border-box;
    flex: 0 0 48%;
    height: 66%;
    //align-self: flex-end;
    display: flex;
    flex-direction: column;
    h2 {
      font-weight: 100;
      border-bottom: 2px solid $tabRowsText-color;
    }
    &-form {
      margin: 10px 5px 61px 10px;
      display: flex;
      justify-content: space-between;
      input {
        width: 93%;
        height: 25px;
      }
      i {
        color: $successMessage-color;
        font-size: 28px;
        cursor: pointer;
      }
    }
    ul {
      box-sizing: border-box;
      width: 100%;
      padding-left: 30px;
      overflow-y: scroll;
      flex-grow: 1;
    }
    li {

    }
  }
}
}