.section__nav-side {
  border: 1px solid black;
  width: 350px;
  height: 1000px;
  background: $navSide-color;

  &-list {
    list-style: none;

    &-element {
      font-size: 30px;
      color: white;
      display: inline-block;
      width: 340px;
      height: 90px;


      a{
        width: 270px;
        height: 90px;
        display: inline-block;
        padding: 30px;
        box-sizing: border-box;
      }

      a:hover {
        font-weight: bold;
        border-left: 7px solid $highlights-color;
        &::after{
          content: ">";
          font-size: 30px;
          position: absolute;
          left: 300px;
          color: $highlights-color;
        }
      }
    }
  }
}
