.section-features {
  background: $background-color;
  display: flex;
  justify-content: space-evenly;

  &__box {
    height: 620px;
    width: 350px;

    &-text{
      text-align: center;
      color: $tabRowsText-color;
      font-size: $text-fontSize;
      font-family: $text-font;
      margin-top: 135px;

      .fa {
        font-size: 70px;
      }
    }
  }
}

.section-newsletter {
  background: $navSide-color;
  display: flex;
  font-family: $text-font;
  color: $whiteFont-color;
  line-height: 160px;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 50px;
  }

  input {
    margin-left: 150px;
    height: 55px;
    width: 300px;
  }

  button {
    font-size: 20px;
    padding: 14px 55px;
    background-color: $highlights-color;
    color: white;
    font-weight: 900;
    border: none;
  }
}

.section-carousel {
    background-color: $background-color;
    display: flex;
    justify-content: space-between;
    padding: 150px 5px;
    i{
      align-self: center;
      font-size: 32px;
    }
    &__carousel {
      flex: 0 0 60%;
      text-align: center;

      &-slide {
        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          display: none;
        }
      }
    }
      &-header {
        font-size: 48px;
      }
      &-text {
        font-size: 32px;
      }
    }
