$navSide-color: #5B605F;
$headerCol-color: #4a4a49;
$highlights-color: #FF6600;
$background-color: #FFFFFA;
$infoMessage-color: #3498DB;
$warningMessage-color: #FFB03B;
$successMessage-color: #468966;
$binIcon-color: #BD4932;
$tabRowsText-color: #A1A194;
$whiteFont-color: white;
$logoFont-color: #E58A20;

$text-font: Open Sans;
$logo-font: Charmonman;
$base-fontSize: 14px;

